@model IEnumerable<GreenInvest.Models.PaymentViewModel>

@{
    ViewBag.Title = "GenerateAccountId";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel">
    <div class="panel-heading"><h2>Account Enabled</h2></div>
    <div class="panel-body">

        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        <div class="table-responsive ">
            <table class="table" id="datatable">
                <thead>
                    <tr>
                        <th>
                            S/No.
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccountId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Firstname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Othernames)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @(i++)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Firstname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Othernames)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>